*{
    margin: 0;
    padding: 0;
    font-family: 微軟正黑體;
    box-sizing: border-box;
    outline: none !important;
}

#link-fixed-box{
    position: fixed;
    top: 80px;
}

#link-fixed-box img{
    width: 100%;
}

#link-box{
    position: absolute;
    left: -65px;
}

#link-box button{
    width: 30px;
    height: 30px;
    background-color: #fff;
    border: 0;
    display: block;
    margin-bottom: 10px;
    border-radius: 30px;
    box-shadow:0 1px 2px rgba(0,0,0,0.3);
}

button#back{
    background-color: rgb(112, 182, 143);
    padding: 6px;
    border-radius: 30px;
}



#box{
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px 20px 50px;
    position: relative;
}

#banner-box{
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
}

#banner{
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: 50% 50%;
}

#banner-color{
    background-color: rgba(0,0,0,0.3);
    width: 100%;
    height: 0;
    padding-bottom: 100%;
}

#banner-text{
    width: 80%;
    margin: 0 auto;
    padding: 70px 0;
}

#banner-text h1{
    color: #fff;
    text-align: center;
}

#banner-text h2{
    color: #fff;
    font-weight: normal;
    font-size: 16px;
    text-align: center;
}

body{
    background-color: #fff8ea;
}

h1{
    font-size: 36px;
    padding: 20px 0 10px;
    color: rgb(1, 156, 47);
    text-align: center;
}



/* #classroom-box{
    max-width: 1200px;
    padding: 50px 16px;
    margin: 0 auto;
    position: relative;
} */

.classroom{
    display: grid;
    grid-template-columns: 10% 70% 10%;
    grid-gap: 5%;
    margin: 20px 0;
}

.name img{
    width: 80px;
}

.chat-box h4{
    color: #0C9ACE;
    font-size: 16px;
    padding-bottom: 5px;
}

.chat-box .content{
    color: #333;
    background-color: #D7F6FF;
    border-radius: 5px;
    padding: 20px 30px;
    margin-right: 20px;
}

.chat-box .first::before{
    content: "";
    width: 0;
    height: 0;
    border: 20px solid;
    border-color: #D7F6FF #D7F6FF rgba(86, 84, 182, 0) rgba(254, 186, 84,0);
    position: absolute;
    margin-left: -45px;
    margin-top: -20px;
    border-radius: 5px;
}

.answer-content-box{
    display: grid;
    grid-template-columns: 20% 80%;
}

.answer-content{
    background-color: #dff6c4;
    border-radius: 5px;
    padding: 20px 30px;
    font-size: 18px;
    margin-bottom: 20px;
}

.answer-content-box .first::before{
    content: "";
    width: 0;
    height: 0;
    border: 20px solid;
    border-color: #dff6c4  rgba(86, 84, 182, 0) rgba(254, 186, 84,0) #dff6c4;
    position: absolute;
    right: 0;
    margin-top: -20px;
    border-radius: 5px;
}


.answer-content a{
    display: block;
    text-decoration: none;
    color: #333;
    font-weight: 700;
}

#classroom-box img{
    width: 100%;
    padding: 15px 0;
}

#classroom-box p{
    font-size: 18px;
    line-height: 1.8;
}

@media screen and (max-width: 768px){
    .name img{
        width: 100px;
        height: auto;
    }
}

@media screen and (min-width: 769px){
    .name img{
        width: 100px;
        height: auto;
    }
}